body {
    background-color: rgba(194, 194, 244, 0.904);
    font-family: 'Times New Roman', Times, serif 
}

h1 {
   font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 52, 125); 
 } 


 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(170, 123, 206);
} 
