body {
    background-color: rgba(220, 243, 251, 0.904);
    font-family: 'Times New Roman', Times, serif 
}

h1 {
   font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

h2{
    font-family: 'Times New Roman', Times, serif;
    /* color: rgb(33, 77, 121); */
}


link{
    color: rgb(125, 113, 183);
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(170, 123, 206);
}

  